AddDefaultCharset UTF-8

AuthType Basic
AuthName "Input password"
AuthUserFile /var/www/vhosts/u0005152.plsk.regruhosting.ru/httpdocs/shop/parser/.htpasswd
Require valid-user

<Files .htpasswd>
   deny from all  #запрет доступа из браузера к .htpasswd
</Files>

<Files *.*>
   require user admin
</Files>
