AddDefaultCharset UTF-8

AuthType Basic
AuthName "Input password"
AuthUserFile /var/www/vhosts/u0005152.plsk.regruhosting.ru/httpdocs/shop/parser/.htpasswd
Require valid-user

<Files .htpasswd>
   deny from all  
</Files>

<Files *.*>
   require user admin
</Files>


php_value memory_limit 368M
php_value max_execution_time 0
php_value max_input_time -1
